.input{
    display: flex;
    background-color: white;
    border-radius: 30px;
    padding: 10px;
    width:100%;
    margin-top: 10px;
    border: none;
    border-bottom: 2px solid gray;
    text-align: center;
    font-family: 'Nunito', sans-serif;
}

.input:focus{
    background-color: aliceblue;
    border: none;
}

.input::placeholder{
    font-family: 'Nunito', sans-serif;
}