.card {
    padding: 30px 30px 30px;
    text-align: center;
    background-color: white;
    border-radius: 30px;
}

.name {
    margin-bottom: 10px;
    font-size: 20px;
}

.temp {
    font-size: 30px;
}

.img {
    object-fit: cover;
}